<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat_App</title>
    <style>
        body{
            background-color: #081b29;
        }
        .container{
            position: absolute;
            margin-top: 50px;
            left: 40%;
            width: 500px;
            height: 100%;
        }
        .input-div{
            display: flex;
            flex-direction: column-reverse;
            height: 30px;
        }
        #messages{
            background-color: white;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect("http://localhost:5000")
            socket.on('connect' , function (){
                socket.send('User connected')
            });

            socket.on('message' , function (data) {
                $('#messages').append($("<p>").text(data));
            });

            $('#sendbtn').on('click',function (){
                socket.send($('#username').val() + ':' + $('#Meassages').val());
                $('#Meassages').val('');
            });
        });
    </script>
    <div id="messages">

    </div>
    <input type="text" placeholder="username" id="username">
    <input type="text" placeholder="Meassages" id="Meassages">
    <button id="sendbtn">Send</button>
</body>
</html>